.sidenav {
    background: #621132;
    transition: all .5s ease;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 80px;
    height: 100vh;
    box-shadow: 1.008px 0 20px 0 #8690a3;
    transition: width 0.3s;
    

    .logo-container {
        display: flex;
        align-items: center;
        padding: 15px 15px 0 15px;
        margin-bottom: 1px;
        width: 100%;
        max-width: 500px;
        

        >img {
            border-radius: 10%;
            object-fit: cover;
            margin-bottom: 1px;
            width: 130px;
            height: auto;
        }

        
        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.sidenav-collapsed {
    width: 265px;
}

.sidenav-nav {
    list-style: none;
    padding: 15.008px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 5px;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 48px;
            color: #ffffff;
            text-decoration: none;
            border-radius: 10px;
            transition: all .3s ease;
            margin-bottom: 20px;

            .sidenav-link-icon {
                font-size: 22px;
                width: 32px;
                min-width: 32px;
                margin: 0 8px;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 24px;
            }
        }

        .sidenav-nav-link:hover {
            background-color: #4E232E;
            color: #ffffff;
            .menu-collapse-icon {
                color: #ffffff;
            }
        }
    }
}

.active {
    background-color: #9D2449;
    .menu-collapse-icon,
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #ffffff;
    }
}

.active-sublevel {
    color: #ffffff !important;
    opacity: 1 !important;
}

.menu-collapse-icon {
    font-size: 25px;
    width: 32px;
    min-width: 32px;
    margin: auto 8px auto auto;
    text-align: center;
    color: #ffffff;
}

.sublevel-nav {
    list-style: none;
    margin-left: 10px;

    .sublevel-nav-item {
        .sublevel-nav-link {
        display: flex;
        align-items: center;
        height: 48px;
        color: #898989;
        text-decoration: none;
        border-radius: 10px;
        transition: all .3s ease;

        .sublevel-link-icon {
            font-size: 18px;
            width: 32px;
            min-width: 32px;
            margin: 0 8px;
            text-align: center;
        }

        .sublevel-link-text {
            margin-left: 12.8px;
        }
        }
        .sublevel-nav-link:hover {
            color: #ffffff;
        }
    }
}

/* scrollbar and visibility on hover and focus */

.scrollwrap {
    overflow-y: auto;
    /* visibility: hidden; */
    height: calc(100% - 58.4px);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}

/* works on chrome, edge and safari */
.scrollwrap::-webkit-scrollbar {
    width: 10px
}

.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #56242A;
    border-radius: 20px;
}

/* works with firefox */
.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #56242A transparent;
}