<div class="sidenav" [ngClass]="{'expanded': isExpanded}" 
(mouseenter)="isExpanded = true" 
(mouseleave)="isExpanded = false": ''">
    <div class="logo-container">
        <img [height]="profilePicSize()" [width]="profilePicSize()" style="max-width: 100%;" src="/assets/SICP.jpg" (click)="toggleCollapse()"/>
        @if (collapsed) {
        <div class="logo-text" @fadeInOut></div>
        }
        @if (collapsed) {
        <button class="btn-close" @rotate (click)="closeSidenav()">
            <i class="fal fa-times close -icon"></i>
        </button>
        }
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            @for (data of navData; track data.Label) {
            <li class="sidenav-nav-item">            
                <a class="sidenav-nav-link" (click)="handleClick(data)"
                    *ngIf="data.items && data.items.length > 0"
                    [ngClass]="getActiveClass(data)"            
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    @if (collapsed) {
                    <span class="sidenav-link-text" @fadeInOut>{{data.Label}}</span>
                    }
                    <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                    ></i>
                </a>
                <a class="sidenav-nav-link"
                    *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    @if (collapsed) {
                    <span class="sidenav-link-text" @fadeInOut>{{data.Label}}</span>
                    }
                </a>
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                    <app-sublevel-menu
                        [data]="data"
                        [collapsed]="collapsed"
                        [multiple]="multiple"
                        [expanded]="data.expanded"
                    ></app-sublevel-menu>
    
                </div>
            </li>
        }
        </ul>
    </div>
</div>
