/* Contenedor de la búsqueda */
.search-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

/* Campo de búsqueda */
.search-field {
    flex: 1;
}

/* Botón de búsqueda */
.search-button {
    background-color: #9D2449;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #621132;
}

/* Detalles de la persona */
.person-details {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.person-details p {
    margin: 8px 0;
    font-size: 1.1em;
}

/* Botón de edición */
.edit-button {
    background-color: #9D2449;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 16px;
}

.edit-button:hover {
    background-color: #621132;
}