<div class="search-container">
    <mat-form-field appearance="fill">
        <mat-label>Buscar por RFC</mat-label>
        <input matInput [(ngModel)]="searchRFC" placeholder="RFC" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Buscar</button>
</div>

<div *ngIf="person" class="person-details">
    <p><strong>Nombre Completo:</strong> {{ person.nombreCompleto }}</p>
    <button mat-raised-button color="primary" (click)="openEditDialog()">Editar</button>
</div>