<div class="main-container">
    <div class="search-container">
        <mat-form-field appearance="fill" class="search-field">
            <mat-label>Buscar por RFC</mat-label>
            <input matInput [(ngModel)]="searchRFC" placeholder="RFC" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="search()" class="search-button">Buscar</button>
    </div>

    <div *ngIf="person" class="person-details">
        <p><strong>Nombre Completo:</strong> {{ person.nombreCompleto }}</p>
        <button mat-raised-button color="primary" (click)="openEditDialog()" class="edit-button">Editar</button>
    </div>
</div>