.head {
    width: calc(100% - 80px);
    margin-left: 80px;
    z-index: 1000;
    transition: all .5s ease;
    background: #9d2448f5;
    padding: 1px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    /* Asegura que padding se incluya en el tamaño del elemento */
    height: 80px;

    .head-content {
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0 rgb(34 41 47 / 10%);
        padding: 13px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        /* Asegura que ocupe toda la anchura del contenedor */

        .head-content-left {

            .ticker-container {
                overflow: hidden;
                background: rgba(255, 255, 255, 0.150);
                white-space: nowrap;
                display: flex;
                align-items: center;
                border-radius: 30px;
                padding: 13.008px 25.008px;
            }

            .ticker-text {
                display: inline-block;
                font-weight: bold;
                animation: ticker 60s ease-in-out infinite;

            }

            .ticker-text:hover {
                animation-play-state: paused;

            }

            .ticker-item {
                display: inline-block;
                padding: 0 2rem;
                color: #9D449;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                transition: transform 0.3s ease, color 0.3s ease;
                font-size: 1.2rem;


            }

            .ticker-item:hover {
                transform: scale(1.2);
                color: #ff5733;
                /* Cambia el color al pasar el ratón */
            }

            /* .search-container {
                position: relative;

                .normal-search {
                    .search {
                        border: none;
                        height: 38px;
                        padding-left: 40px;
                        padding-right: 20px;
                        background-color: #f3f3f9;
                        box-shadow: none;
                        border-radius: 30px;
                        outline: 0;
                    }

                    .search-icon {
                        position: absolute;
                        font-size: 16px;
                        line-height: 38px;
                        left: 13.008px;
                        top: 0;
                        color: #74788d;
                    }
                }

                .search-menu-btn {
                    font-size: 18px;
                    height: 42px;
                    width: 42px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    outline: 0;
                }

                .search-menu-btn:hover,
                .search-menu-btn:focus {
                    .search-icon {
                        color: #699dfa;
                    }
                }
            } */
        }

        .head-content-right {
            display: flex;
            align-items: center;

            /* .head-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 20px;

                .head-menu-item {
                    .head-menu-item-btn {
                        font-size: 18px;
                        height: 42px;
                        width: 42px;
                        cursor: pointer;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-left: 5px;
                        outline: 0;
                        color: #495057;

                        .flag {
                            height: 17px;
                            border-radius: 3px;
                            margin-top: 2px;
                        }
                    }

                    .head-menu-item-btn:hover,
                    .head-menu-item-btn:focus {

                        background: #eff2f3;
                        .menu-icon {
                            color: #699dfa;
                        }
                    }
                }
            } */

            .head-user-avatar-container {
                margin-left: 20px;

                .head-user-avatar {
                    position: relative;

                    .user-avatar {
                        margin-bottom: -4px;
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                        box-shadow: 0 0 15px rgb(35 35 35 / 15%);
                        cursor: pointer;
                        object-fit: cover;
                    }
                }

                .circle-indicator {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                    top: -2px;
                    right: -3px;
                    background: #02cf46;

                    &.pulse {
                        animation: pulse-animation 1.2s infinite;
                    }
                }
            }
        }
    }
}



/* Pantallas grandes */
.ticker-trimmed-lg { width: calc(100% - 90px); }
.ticker-md-screen-lg { width: calc(100% - 90px); }

/* Pantallas medianas */
.ticker-trimmed-md { width: calc(100% - 90px); }
.ticker-md-screen-md { width: calc(100% - 90px); }

/* Pantallas pequeñas */
.ticker-trimmed-sm { width: calc(100% - 60px); }
.ticker-md-screen-sm { width: calc(100% - 60px); }

/* Pantallas muy pequeñas */
.ticker-trimmed-xs { width: calc(100% - 65px); }
.ticker-md-screen-xs { width: calc(100% - 65px); }

/* Pantallas demasiado pequeñas */
.ticker-trimmed-xxs { width: calc(100% - 70px); }
.ticker-md-screen-xxs { width: calc(100% - 70px); }

/* Pantallas extremadamente pequeñas */
.ticker-trimmed-xxx { width: calc(100% - 90px); }
.ticker-md-screen-xxx { width: calc(100% - 90px); }

.head-trimmed {
    width: calc(100% - 265px);
    margin-left: 265px;
}

.head-md-screen {
    width: calc(100% - 80px);
    margin-left: 80px;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }

    99% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(26, 206, 80, 0.6);
    }

    100% {
        box-shadow: 0 0 0 13px rgba(17, 64, 126, 0);
    }
}

@keyframes fall {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.overlay {
    background: #9d2448f5;
    margin-top: 10px;
    box-shadow: 0 16px 48px rgb(0 0 0 / 13%);
    border-radius: 4px;
}

.overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin: top center;
}

.overlay-search {
    padding: 16px;
    display: flex;

    .search {
        padding: 7.52px 12px;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        outline: none;
        border-radius: 4px;
    }

    .search-btn {
        color: #fff;
        background-color: #699dfa;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 7.52px 12px;
        border-radius: 4px;
    }
}

.overlay-language {
    padding: 8px 0;

    ul {
        list-style: none;
        width: 160px;

        li {
            padding: 5.6px 1.5px;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            cursor: pointer;

            img {
                margin-right: 9.6px;
                height: 12px;
            }
        }

        li:hover {
            background: #621132;
        }
    }
}

.overlay-notification {
    ul {
        list-style: none;
        width: 320px;

        li {
            padding: 16px;

            &.notification-head-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .notification-head {
                    font-size: 15px;
                    color: #fff;
                }

                .view-all-link {
                    font-size: 80%;
                    color: #699dfa;
                    cursor: pointer;
                }
            }

            &.notification-message-container {
                cursor: pointer;
                display: flex;

                i {
                    margin-right: 15px;
                    font-size: 20px;
                    color: #699dfa;
                    width: 25px;
                    text-align: center;
                }

                .notification-subject {
                    margin-bottom: 4px;
                    font-size: 15px;
                    color: #fff;
                }

                .notification-desc {
                    font-size: 12px;
                    color: #eff2f3;
                }

                &:hover {
                    background: #621132;
                }
            }
        }
    }
}

.overlay-user {
    ul {
        padding: 8px 0;
        list-style: none;
        width: 205px;

        a {
            padding: 5.6px 24px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            cursor: pointer;

            .icon {
                margin-left: 9.6px;
            }
        }

        li:hover {
            background: #621132;
        }
    }
}

.ripple {
    background-position: center;
    background-color: #fff;
    transition: background 0.8s;
}

.ripple:hover,
.ripple:focus {
    background: #eff2f3 radial-gradient(circle, transparent 1%, #eff2f3 1%) center/15000%;
}

.ripple:active {
    background-color: #bec2c4;
    background-size: 100%;
    transition: background 0s;
}

.notification-counter {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
}

.main-content {
    margin-top: 80px;
    /* La altura del header */
}