<div class="form-container">
  <h2 class="form-title">CAMBIO DE CONTRASEÑA</h2>
  <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="oldPassword" class="field-label">CONTRASEÑA ANTERIOR</label>
      <input id="oldPassword" formControlName="oldPassword" type="password" class="input-field">
      <div *ngIf="cambiarContrasenaForm.get('oldPassword')?.invalid && cambiarContrasenaForm.get('oldPassword')?.touched">
        <small class="small">La contraseña anterior es requerida.</small>
      </div>
    </div>

    <div>
      <label for="newPassword" class="field-label">NUEVA CONTRASEÑA</label>
      <input id="newPassword" formControlName="newPassword" type="password" class="input-field">
      <div *ngIf="cambiarContrasenaForm.get('newPassword')?.invalid && cambiarContrasenaForm.get('newPassword')?.touched">
        <small class="small">
          La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un número,
          un carácter especial y debe tener al menos 5 caracteres.
        </small>
      </div>
    </div>

    <div>
      <label for="confirmPassword" class="field-label">CONFIRMAR CONTRASEÑA</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="input-field">
      <div *ngIf="cambiarContrasenaForm.get('confirmPassword')?.invalid && cambiarContrasenaForm.get('confirmPassword')?.touched">
        <small class="small">La confirmación de la contraseña es requerida.</small>
      </div>
      <div *ngIf="cambiarContrasenaForm.errors?.mismatch && cambiarContrasenaForm.get('confirmPassword')?.touched">
        <small class="small">Las contraseñas no coinciden.</small>
      </div>
    </div>

    <button type="submit" [disabled]="cambiarContrasenaForm.invalid" class="input-field">Cambiar contraseña</button>
  </form>

  <div class="info">
    <p class="info-text">La contraseña debe contener:</p>
    <div class="spacer"></div>
    <ul class="info-list">
      <li class="info-list-item">Mínimo una letra mayúscula</li>
      <li class="info-list-item">Mínimo un número</li>
      <li class="info-list-item">La contraseña y la confirmación deben ser las mismas</li>
      <li class="info-list-item">Mínimo una letra minúscula</li>
      <li class="info-list-item">Mínimo un carácter especial</li>
      <li class="info-list-item">Mínimo 5 caracteres</li>
    </ul>
  </div>
</div>
