<div class="form-container">
    <h2 class="form-title">CAMBIO DE PASSWORD</h2>
    <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="oldPassword" class="field-label">CONTRASEÑA ANTERIOR</label>
        <input id="oldPassword" formControlName="oldPassword" type="password">
        <!-- <div *ngIf="cambiarContrasenaForm.get('oldPassword').invalid && cambiarContrasenaForm.get('oldPassword').touched">
          <small>La contraseña anterior es requerida.</small>
        </div> -->
      </div>
      <div>
        <label for="newPassword" class="field-label">NUEVA CONTRASEÑA</label>
        <input id="newPassword" formControlName="newPassword" type="password">
        <!-- <div *ngIf="cambiarContrasenaForm.get('newPassword').invalid && cambiarContrasenaForm.get('newPassword').touched">
          <small>
            La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un número,
            un carácter especial y debe tener al menos 5 caracteres.
          </small>
        </div> -->
      </div>
      <div>
        <label for="confirmPassword" class="field-label">CONFIRMAR CONTRASEÑA</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password">
       <!-- <div *ngIf="cambiarContrasenaForm.get('confirmPassword').invalid && cambiarContrasenaForm.get('confirmPassword').touched">
          <small>La confirmación de la contraseña es requerida.</small>
        </div>
        <div *ngIf="cambiarContrasenaForm.errors?.mismatch && cambiarContrasenaForm.get('confirmPassword').touched">
          <small>Las contraseñas no coinciden.</small>
        </div> -->
      </div>
      <button type="submit" [disabled]="cambiarContrasenaForm.invalid">Cambiar contraseña</button>
    </form>
    <div class="info">
      <p>La contraseña debe contener:</p>
      <ul>
        <li>Mínimo una letra mayúscula</li>
        <li>Mínimo un número</li>
        <li>La contraseña y la confirmación deben ser las mismas</li>
        <li>Mínimo una letra minúscula</li>
        <li>Mínimo un carácter especial</li>
        <li>Mínimo 5 caracteres</li>
      </ul>
    </div>
  </div>
  