<div class="principal">
  <div class="form-container">
    <h2 class="form-title">CAMBIO DE CONTRASEÑA</h2>
    <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="onSubmit()">
      <div class="password-field">
        <label for="newPassword" class="field-label">NUEVA CONTRASEÑA</label>
        <input id="newPassword" formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'"
          class="input-field">
        <button type="button" class="toggle-password" (mousedown)="togglePasswordVisibility('newPassword', 'show')"
          (mousedown)="togglePasswordVisibility('newPassword', 'show')"
          (mouseup)="togglePasswordVisibility('newPassword', 'hide')"
          (mouseleave)="togglePasswordVisibility('newPassword', 'hide')"
          (touchstart)="togglePasswordVisibility('newPassword', 'show')"
          (touchend)="togglePasswordVisibility('newPassword', 'hide')">
          <i class="fa fa-eye"></i>
        </button>
      </div>

      <div class="validation-list">
        <div [ngClass]="{'validation-message': true, 'success': hasUppercase}" class="validation-message">
          <i class="fa" [ngClass]="{'fa-check-circle': hasUppercase, 'fa-times-circle': !hasUppercase}"></i> Mínimo una
          letra mayúscula.
        </div>
        <div [ngClass]="{'validation-message': true, 'success': hasNumber}" class="validation-message">
          <i class="fa" [ngClass]="{'fa-check-circle': hasNumber, 'fa-times-circle': !hasNumber}"></i> Mínimo un número.
        </div>
        <div [ngClass]="{'validation-message': true, 'success': hasLowercase}" class="validation-message">
          <i class="fa" [ngClass]="{'fa-check-circle': hasLowercase, 'fa-times-circle': !hasLowercase}"></i> Mínimo una
          letra minúscula.
        </div>
        <div [ngClass]="{'validation-message': true, 'success': hasSpecialChar}" class="validation-message">
          <i class="fa" [ngClass]="{'fa-check-circle': hasSpecialChar, 'fa-times-circle': !hasSpecialChar}"></i> Mínimo
          un carácter especial.
        </div>
        <div [ngClass]="{'validation-message': true, 'success': hasMinLength}" class="validation-message">
          <i class="fa" [ngClass]="{'fa-check-circle': hasMinLength, 'fa-times-circle': !hasMinLength}"></i> Mínimo 6
          caracteres.
        </div>
        <div [ngClass]="{'validation-message': true, 'success': passwordsMatch}" class="validation-message">
          <i class="fa" [ngClass]="{'fa-check-circle': passwordsMatch, 'fa-times-circle': !passwordsMatch}"></i> La
          contraseña nueva y la confirmación deben ser las mismas.
        </div>
      </div>

      <div class="password-field">
        <label for="confirmPassword" class="field-label">CONFIRMAR CONTRASEÑA</label>
        <input id="confirmPassword" formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
          class="input-field">
        <button type="button" class="toggle-password" (mousedown)="togglePasswordVisibility('confirmPassword', 'show')"
          (mousedown)="togglePasswordVisibility('newPassword', 'show')"
          (mouseup)="togglePasswordVisibility('newPassword', 'hide')"
          (mouseleave)="togglePasswordVisibility('newPassword', 'hide')"
          (touchstart)="togglePasswordVisibility('newPassword', 'show')"
          (touchend)="togglePasswordVisibility('newPassword', 'hide')">
          <i class="fa fa-eye"></i>
        </button>
      </div>

      <button type="submit" [disabled]="cambiarContrasenaForm.invalid" class="input-field">Cambiar contraseña</button>
    </form>
  </div>
</div>