<div class="privacy-policy-container">
    <h1>AVISO DE PRIVACIDAD INTEGRAL</h1>
    <p>
        La Secretaría de Educación Pública, por medio de la Coordinación Administrativa de la Dirección General de
        Evaluación de Políticas (DGEP), ubicada en Av. Universidad número 1200, Nivel 2, Cuadrante 2-4, Colonia Xoco,
        Delegación Benito Juárez, C.P. 03330, Ciudad de México, teléfono 3600-2511, página institucional:
        <a href="http://www.dgep.sep.gob.mx/" target="_blank">http://www.dgep.sep.gob.mx/</a>
        es la responsable del tratamiento de los datos personales que se proporcionen a la DGEP como parte del proceso
        de contratación tanto de personal como de prestadores de bienes y servicios, los cuales serán protegidos
        conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados
        (LGPDPPSO) y demás disposiciones que resulten aplicables.
    </p>

    <h2>DATOS PERSONALES QUE SE RECABAN</h2>
    <p>Para la contratación del personal que labora en la DGEP, se recaban los datos personales siguientes:</p>
    <ul>
        <li>Nombre, fecha de nacimiento, CURP, RFC, domicilio, CLABE interbancaria, estado civil, nivel de estudios.
        </li>
    </ul>

    <p>Se informa que la Coordinación Administrativa de la DGEP recaba información sensible en torno al estado de salud
        y el tipo de sangre de su personal.</p>

    <p>Para la contratación de bienes y servicios, se recaban los datos siguientes:</p>
    <ul>
        <li>Nombre, nacionalidad, domicilio, naturaleza jurídica de los prestadores de bienes y servicios, número
            telefónico, credenciales académicas y experiencias, información sobre ingresos anuales, declaraciones
            fiscales, y la capacidad física, tecnológica y técnica.</li>
    </ul>

    <p>El tratamiento de los datos personales se lleva a cabo conforme a principios de licitud, finalidad, lealtad,
        consentimiento, calidad, proporcionalidad, información y responsabilidad en el tratamiento de los datos
        personales previstos en el artículo 16 de la LGPDPPSO.</p>

    <h2>FINALIDAD</h2>
    <p>Los datos personales que se tratan en la Coordinación Administrativa de la DGEP se utilizan para las finalidades
        siguientes:</p>
    <ul>
        <li>Para llevar a cabo el procedimiento de contratación de personal que presta sus servicios en la DGEP.</li>
        <li>Para integrar el expediente del personal.</li>
        <li>Para realizar el alta de los servidores públicos en los sistemas que opera la Secretaría de Educación
            Pública.</li>
        <li>Para expedir la credencial institucional.</li>
        <li>Para celebrar contratos u cualquier otro instrumento jurídico entre la DGEP y los prestadores de bienes y
            servicios.</li>
    </ul>

    <h2>FUNDAMENTO</h2>
    <p>Los fundamentos para el tratamiento de los datos personales se encuentran establecidos en los artículos 5º, Base
        A y 16 párrafo segundo de la Constitución Política de los Estados Unidos Mexicanos.</p>

    <h2>TRANSFERENCIA DE DATOS PERSONALES</h2>
    <p>Se realizarán las transferencias que sean necesarias para atender el ejercicio de las atribuciones recomendadas,
        de conformidad con el artículo 6, del Reglamento Interior de la Secretaría de Educación Pública.</p>

    <h2>MECANISMOS PARA EJERCER SUS DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN (ARCO)</h2>
    <p>
        Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones
        del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en
        caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros
        registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios,
        deberes y obligaciones previstas en la normativa (Cancelación); así como oponerse al uso de sus datos personales
        para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
    </p>

    <p>
        Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva en la
        Unidad de Transparencia de la Secretaría de Educación Pública, ubicada en calle Donceles número 100, Planta
        Baja, Colonia, Centro Histórico, Delegación Cuauhtémoc, C.P. 06020, Ciudad de México.
    </p>

    <p>Asimismo, podrá ejercer sus derechos por medio de la Plataforma Nacional de Transparencia en <a
            href="http://www.plataformadetransparencia.org.mx/"
            target="_blank">http://www.plataformadetransparencia.org.mx/</a>.</p>

    <h2>CAMBIOS AL AVISO DE PRIVACIDAD</h2>
    <p>En caso de que existan cambios en este aviso de privacidad, lo haremos de su conocimiento por medio del portal
        institucional: <a href="http://www.dgep.sep.gob.mx/" target="_blank">http://www.dgep.sep.gob.mx/</a>.</p>

    <p class="last-updated">Fecha última de actualización: 19 de febrero de 2019</p>
</div>