<div class="principal" [formGroup]="profileForm">
  <div class="credential-form">
    <div class="form-row">
      <div class="form-column">
        <div>
          <label for="usuario">ID EMPLEADO:</label>
          <textarea id="usuario" formControlName="usuario" readonly></textarea>
        </div>
        <div>
          <label for="nombre">NOMBRE:</label>
          <textarea id="nombre" formControlName="nombre" readonly></textarea>
        </div>
        <div>
          <label for="rfc">RFC:</label>
          <textarea id="rfc" formControlName="rfc" readonly></textarea>
        </div>
        <div>
          <label for="curp">CURP:</label>
          <textarea id="curp" formControlName="curp" readonly></textarea>
        </div>
        <div>
          <label for="email">EMAIL:</label>
          <textarea id="email" formControlName="email" readonly></textarea>
        </div>
        <div>
          <label for="municipio">MUNICIPIO/ALCALDIA:</label>
          <textarea id="municipio" formControlName="municipio" readonly></textarea>
        </div>
        <div>
          <label for="domicilio">DOMICILIO:</label>
          <textarea id="domicilio" formControlName="domicilio" readonly></textarea>
        </div>
        <div>
          <label for="telefono">TELEFONO:</label>
          <textarea id="telefono" formControlName="telefono" readonly></textarea>
        </div>
        <div>
          <label for="telefono">TEL EMERGENCIAS:</label>
          <textarea id="telEmergencia" formControlName="telEmergencia" readonly></textarea>
        </div>
      </div>
      <div class="form-column photo-column">
        <div class="photo-frame">
          <img [src]="imageUrl" alt="Foto" class="photo">
        </div>
      </div>
      <div class="form-column">
        <div>
          <label for="gradoEstudio">GRADO ESTUDIO:</label>
          <textarea id="gradoEstudio" formControlName="gradoEstudio" readonly></textarea>
        </div>
        <div>
          <label for="dependencia">DEPENDENCIA:</label>
          <textarea id="dependencia" formControlName="dependencia" readonly></textarea>
        </div>
        <div>
          <label for="cuadrante">CUADRANTE:</label>
          <textarea id="cuadrante" formControlName="cuadrante" readonly></textarea>
        </div>
        <div>
          <label for="tipoContratacion">TIPO CONTRATACIÓN:</label>
          <textarea id="tipoContratacion" formControlName="tipoContratacion" readonly></textarea>
        </div>
        <div>
          <label for="fechaContratacion">FECHA DE CONTRATACIÓN:</label>
          <textarea id="fechaContratacion" formControlName="fechaContratacion" readonly></textarea>
        </div>
        <div>
          <label for="puesto">PUESTO:</label>
          <textarea id="puesto" formControlName="puesto" readonly></textarea>
        </div>
        <div>
          <label for="area">AREA:</label>
          <textarea id="area" formControlName="area" readonly></textarea>
        </div>
        <div>
          <label for="municipioTrabajo">MUNICIPIO/ALCALDIA TRABAJO:</label>
          <textarea id="municipioTrabajo" formControlName="municipioTrabajo" readonly></textarea>
        </div>
        <div>
          <label for="referente">REFERENTE:</label>
          <textarea id="referente" formControlName="referente" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
</div>