<div class="principal" [formGroup]="profileForm">
  <div class="credential-form">
    <div class="form-row">
      <div class="form-column">
        <div>
          <label for="usuario">Usuario:</label>
          <input type="text" id="usuario" formControlName="usuario" readonly>
        </div>
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" formControlName="nombre" readonly>
        </div>
        <div>
          <label for="rfc">RFC:</label>
          <input type="text" id="rfc" formControlName="rfc" readonly>
        </div>
        <div>
          <label for="curp">CURP:</label>
          <input type="text" id="curp" formControlName="curp" readonly>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" readonly>
        </div>
        <div>
          <label for="estado">Estado:</label>
          <input type="text" id="estado" formControlName="estado" readonly>
        </div>
        <div>
          <label for="municipio">Municipio/Alcaldia:</label>
          <input type="text" id="municipio" formControlName="municipio" readonly>
        </div>
      </div>
      <div class="form-column photo-column">
        <div class="photo-frame">
          <img src="../../../assets/Capture.JPG" alt="Foto" class="photo">
        </div>
      </div>
      <div class="form-column">
        <div>
          <label for="estatus">Estatus:</label>
          <input type="text" id="estatus" formControlName="estatus" readonly>
        </div>
        <div>
          <label for="folio">Folio:</label>
          <input type="text" id="folio" formControlName="folio" readonly>
        </div>
        <div>
          <label for="tipoContratacion">Tipo de Contratación:</label>
          <input type="text" id="tipoContratacion" formControlName="tipoContratacion" readonly>
        </div>
        <div>
          <label for="fechaContratacion">Fecha de Contratación:</label>
          <input type="date" id="fechaContratacion" formControlName="fechaContratacion" readonly>
        </div>
        <div>
          <label for="domicilio">Domicilio:</label>
          <input type="text" id="domicilio" formControlName="domicilio" readonly>
        </div>
        <div>
          <label for="cuadrante">Cuadrante:</label>
          <input type="text" id="cuadrante" formControlName="cuadrante" readonly>
        </div>
        <div>
          <label for="puesto">Puesto:</label>
          <input type="text" id="puesto" formControlName="puesto" readonly>
        </div>
        <div>
          <label for="referente">Referente:</label>
          <input type="text" id="referente" formControlName="referente" readonly>
        </div>
      </div>
    </div>
  </div>
</div>