<div class="principal" [formGroup]="profileForm">
  <div class="credential-form">
    <div class="form-row">
      <div class="form-column">
        <div>
          <label for="usuario">Usuario:</label>
          <textarea id="usuario" formControlName="usuario" readonly></textarea>
        </div>
        <div>
          <label for="nombre">Nombre:</label>
          <textarea id="nombre" formControlName="nombre" readonly></textarea>
        </div>
        <div>
          <label for="rfc">RFC:</label>
          <textarea id="rfc" formControlName="rfc" readonly></textarea>
        </div>
        <div>
          <label for="curp">CURP:</label>
          <textarea id="curp" formControlName="curp" readonly></textarea>
        </div>
        <div>
          <label for="email">Email:</label>
          <textarea id="email" formControlName="email" readonly></textarea>
        </div>
        <div>
          <label for="estado">Estado:</label>
          <textarea id="estado" formControlName="estado" readonly></textarea>
        </div>
        <div>
          <label for="municipio">Municipio/Alcaldia:</label>
          <textarea id="municipio" formControlName="municipio" readonly></textarea>
        </div>
      </div>
      <div class="form-column photo-column">
        <div class="photo-frame">
          <img [src]="imageUrl" alt="Foto" class="photo">
        </div>
      </div>
      <div class="form-column">
        <div>
          <label for="telefono">Telefono:</label>
          <textarea id="telefono" formControlName="telefono" readonly></textarea>
        </div>
        <div>
          <label for="tipoContratacion">Tipo de Contratación:</label>
          <textarea id="tipoContratacion" formControlName="tipoContratacion" readonly></textarea>
        </div>
        <div>
          <label for="fechaContratacion">Fecha de Contratación:</label>
          <textarea id="fechaContratacion" formControlName="fechaContratacion" readonly></textarea>
        </div>
        <div>
          <label for="domicilio">Domicilio:</label>
          <textarea id="domicilio" formControlName="domicilio" readonly></textarea>
        </div>
        <div>
          <label for="cuadrante">Cuadrante:</label>
          <textarea id="cuadrante" formControlName="cuadrante" readonly></textarea>
        </div>
        <div>
          <label for="puesto">Puesto:</label>
          <textarea id="puesto" formControlName="puesto" readonly></textarea>
        </div>
        <div>
          <label for="referente">Referente:</label>
          <textarea id="referente" formControlName="referente" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
</div>