.join-company-container {
  display: flex;
  flex-direction: column; /* Cambiar de row a column */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  justify-content: center; /* Asegura que el contenido esté centrado verticalmente */
  align-items: center; /* Asegura que el contenido esté centrado horizontalmente */
}

.bg-image {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%; /* Asegura que ocupe toda la anchura disponible */
  height: 100%; /* Asegura que ocupe toda la altura disponible */
}
  
  /* Ajuste de altura del contenedor central */
  body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
  }