.join-company-container {
  display: flex;
  flex-direction: column; /* Cambiado a column para que el contenido esté en una columna */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%; /* Ocupa toda la anchura de la ventana */
  overflow: auto; /* Asegura que el contenido no se desborde */
  min-height: 100vh;
}

.bg-image {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  width: 100%; /* Asegura que ocupe toda la anchura disponible */
  height: 100%; /* Asegura que ocupe toda la altura disponible */
}
  
  /* Ajuste de altura del contenedor central */
  body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  } 