<mat-toolbar fxLayoutAlign="center center">
  <span class="mat-toolbar">Administrar Noticias</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>Agregar Nueva Noticia</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="addMessage()">
        <mat-form-field appearance="fill">
          <mat-label>Nueva Noticia</mat-label>
          <input matInput [(ngModel)]="newMessage" name="message" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Agregar</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Noticias Existentes</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let message of messages; let i = index">
          <div class="message-content">
            <p>{{ message.message }}</p>
            <div class="actions">
              <button mat-icon-button color="accent" (click)="editMessage(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteMessage(message.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #editDialog let-data>
  <h1 mat-dialog-title>Editar Noticia</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Noticia</mat-label>
      <input matInput [(ngModel)]="data.message" name="message">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="'closeDialog'">Cancelar</button>
    <button mat-button color="primary" (click)="updateMessage(data.index, data.message)">Guardar</button>
  </div>
</ng-template>
