.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.150); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(105, 158, 250, 0.822); /* Sombra sutil */
}

.message-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

.actions {
    display: flex;
    gap: 10px;
}

.mat-toolbar {
    align-items: center;
    background: #9d2449(105, 158, 250, 0.822); /* Fondo blanco con opacidad */
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */ 
}

.mat-card {
    background: #9d2449(255, 255, 255, 0.350); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px #9d2449(105, 158, 250, 0.822); /* Sombra sutil */
}

.custom-button {
    background-color: #9d2449;
}