<mat-tab-group class="custom-tab-group">
    <mat-tab class="custom-tab" label="Info. Personal">
        <form [formGroup]="personalInfoForm" (ngSubmit)="savePersonalInfo()" class="form-container">
            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ID PERSONA</mat-label>
                <textarea matInput formControlName="idPersona"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>NOMBRE COMPLETO</mat-label>
                <textarea matInput formControlName="nombreCompleto"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>RFC</mat-label>
                <textarea matInput formControlName="rfc"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CURP</mat-label>
                <textarea matInput formControlName="curp"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>REFERENCIA</mat-label>
                <textarea matInput formControlName="referencia"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>TELÉFONO</mat-label>
                <textarea matInput formControlName="telefono"></textarea>
                <mat-error *ngIf="personalInfoForm.get('telefono')?.hasError('required')">Este campo es
                    obligatorio</mat-error>
                <mat-error *ngIf="personalInfoForm.get('telefono')?.hasError('pattern')">
                    El teléfono debe contener exactamente 10 dígitos numéricos.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>TELÉFONO EMERGENCIA</mat-label>
                <textarea matInput formControlName="telEmergencia"></textarea>
                <mat-error *ngIf="personalInfoForm.get('telEmergencia')?.hasError('required')">Este campo es
                    obligatorio</mat-error>
                <mat-error *ngIf="personalInfoForm.get('telEmergencia')?.hasError('pattern')">
                    El teléfono de emergencia debe contener exactamente 10 dígitos numéricos.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>E-MAIL</mat-label>
                <textarea matInput formControlName="email"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>DEPENDENCIA</mat-label>
                <mat-select formControlName="idDependencia">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="dependenciaFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let dependencia of filteredDependencias | async"
                        [value]="dependencia.idDependencia">
                        {{ dependencia.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>GRADO ESTUDIO</mat-label>
                <mat-select formControlName="idEstudio">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="estudioFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let gradoEstudio of filteredEstudios | async" [value]="gradoEstudio.idEstudio">
                        {{ gradoEstudio.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ESTUDIO</mat-label>
                <textarea matInput formControlName="estudio"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ESTATUS</mat-label>
                <mat-select formControlName="idEstatus">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="estatusFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let estatus of filteredEstatus | async" [value]="estatus.idEstatus">
                        {{ estatus.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>URL IMAGEN</mat-label>
                <textarea matInput formControlName="urlImagen"></textarea>
            </mat-form-field>

            <div class="image-container" *ngIf="validImageUrl">
                <img [src]="validImageUrl" alt="User Image" class="responsive-image" />
            </div>

            <button mat-raised-button color="primary" type="submit" class="submit-button">Guardar</button>

            <button mat-raised-button color="accent" type="button" (click)="resetPassword()" class="reset-button"
                *ngIf="userRole !== 3">Restablecer Contraseña</button>
        </form>
    </mat-tab>

    <mat-tab class="custom-tab" label="Domicilio Personal">
        <form [formGroup]="personalAddressForm" (ngSubmit)="savePersonalAddress()" class="form-container">
            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ID PERSONA DOMICILIO</mat-label>
                <textarea matInput formControlName="idPersonaDomicilio"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ID PERSONA</mat-label>
                <textarea matInput formControlName="idPersona"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ESTADO</mat-label>
                <mat-select formControlName="idEstado">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="estadoFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let estado of filteredEstados | async" [value]="estado.idEstado">
                        {{ estado.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>MUNICIPIO</mat-label>
                <mat-select formControlName="idMunicipio">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="municipioFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let municipio of filteredMunicipios | async" [value]="municipio.idMunicipio">
                        {{ municipio.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>DOMICILIO</mat-label>
                <textarea matInput formControlName="domicilio"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="submit-button">Guardar</button>
        </form>
    </mat-tab>

    <mat-tab class="custom-tab" label="Info. Trabajo">
        <form [formGroup]="workInfoForm" (ngSubmit)="saveWorkInfo()" class="form-container">
            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ID USUARIO</mat-label>
                <textarea matInput formControlName="idEmpleado"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ID PERSONA</mat-label>
                <textarea matInput formControlName="idPersona"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ID EMPLEADO</mat-label>
                <textarea matInput formControlName="idInterno"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>NO. EMPLEADO</mat-label>
                <textarea matInput formControlName="numEmpleado"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CONTRATACION</mat-label>
                <mat-select formControlName="idTipoContratacion">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="contratoFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let contratacion of filteredContratos | async"
                        [value]="contratacion.idTipoContratacion">
                        {{ contratacion.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ÁREA</mat-label>
                <mat-select formControlName="idArea">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="areaFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let area of filteredAreas | async" [value]="area.idArea">
                        {{ area.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>SUBÁREA</mat-label>
                <mat-select formControlName="idSubArea">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="subareaFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let subAreaDescripcion of filteredSubAreas | async"
                        [value]="subAreaDescripcion.idSubArea">
                        {{ subAreaDescripcion.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>PUESTO</mat-label>
                <mat-select formControlName="idPuesto">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="puestoFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let puesto of filteredPuestos | async" [value]="puesto.idPuesto">
                        {{ puesto.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>SUELDO BRUTO</mat-label>
                <textarea matInput formControlName="sueldoBruto" readonly></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>SUELDO NETO</mat-label>
                <textarea matInput formControlName="sueldoNeto" readonly></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ASIGNACIÓN ADICIONAL</mat-label>
                <textarea matInput formControlName="asignacionAdicional" type="number"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>FECHA DE CONTRATACION</mat-label>
                <textarea matInput formControlName="fechaContratacion" type="date"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="submit-button">Guardar</button>
        </form>
    </mat-tab>

    <mat-tab class="custom-tab" label="Domicilio Trabajo">
        <form [formGroup]="workAddressForm" (ngSubmit)="saveWorkAddress()" class="form-container">
            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ID DOMICILIO TRABAJO</mat-label>
                <textarea matInput formControlName="idTrabajoDomicilio"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>EMPLEADO</mat-label>
                <textarea matInput formControlName="idEmpleado"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>ESTADO</mat-label>
                <mat-select formControlName="idEstado">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="estadoFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let estado of filteredEstados | async" [value]="estado.idEstado">
                        {{ estado.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>MUNICIPIO</mat-label>
                <mat-select formControlName="idMunicipio">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="municipioFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let municipio of filteredMunicipios | async" [value]="municipio.idMunicipio">
                        {{ municipio.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CUADRANTE</mat-label>
                <mat-select formControlName="idCuadrante">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="cuadranteFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let idCuadrante of filteredCuadrantes | async"
                        [value]="idCuadrante.idCuadrante">
                        {{ idCuadrante.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>DIVISION</mat-label>
                <mat-select formControlName="idDivision">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="divisionFilterCtrl" placeholderLabel="Buscar..."
                            noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let idDivision of filteredDivisiones | async" [value]="idDivision.idDivision">
                        {{ idDivision.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="userRole !== 3">
                <mat-label>DOMICILIO</mat-label>
                <textarea matInput formControlName="domicilio"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="submit-button">Guardar</button>
        </form>
    </mat-tab>
</mat-tab-group>

<div class="form-actions">
    <button mat-raised-button color="warn" (click)="closeDialog()">Cerrar</button>
</div>