<mat-tab-group>
    <mat-tab label="Info. Personal">
        <form [formGroup]="personalInfoForm" (ngSubmit)="savePersonalInfo()">
            <mat-form-field appearance="fill">
                <mat-label>ID Persona</mat-label>
                <input matInput formControlName="idPersona">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nombre completo</mat-label>
                <input matInput formControlName="nombreCompleto">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>RFC</mat-label>
                <input matInput formControlName="rfc">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CURP</mat-label>
                <input matInput formControlName="curp">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Referencia</mat-label>
                <input matInput formControlName="referencia">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Teléfono Emergencia</mat-label>
                <input matInput formControlName="telEmergencia">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Dependencia</mat-label>
                <mat-select formControlName="idDependencia">
                    <mat-option *ngFor="let dependencia of dependencias" [value]="dependencia.idDependencia">
                        {{ dependencia.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Grado Estudio</mat-label>
                <mat-select formControlName="idEstudio">
                    <mat-option *ngFor="let gradoEstudio of estudios" [value]="gradoEstudio.idEstudio">
                        {{ gradoEstudio.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Estudio</mat-label>
                <input matInput formControlName="estudio">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>URL Imagen</mat-label>
                <input matInput formControlName="urlImagen">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </mat-tab>

    <mat-tab label="Domicilio Personal">
        <form [formGroup]="personalAddressForm" (ngSubmit)="savePersonalAddress()">
            <mat-form-field appearance="fill">
                <mat-label>ID Persona Domicilio</mat-label>
                <input matInput formControlName="idPersonaDomicilio">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ID Persona</mat-label>
                <input matInput formControlName="idPersona">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="idEstado">
                    <mat-option *ngFor="let estado of estados" [value]="estado.idEstado">
                        {{ estado.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Municipio</mat-label>
                <mat-select formControlName="idMunicipio">
                    <mat-option *ngFor="let municipio of municipios" [value]="municipio.idMunicipio">
                        {{ municipio.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Domicilio</mat-label>
                <textarea matInput formControlName="domicilio"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </mat-tab>

    <mat-tab label="Info. Trabajo">
        <form [formGroup]="workInfoForm" (ngSubmit)="saveWorkInfo()">
            <mat-form-field appearance="fill">
                <mat-label>ID Empleado</mat-label>
                <input matInput formControlName="idEmpleado">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ID Persona</mat-label>
                <input matInput formControlName="idPersona">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>ID Usuario</mat-label>
                <input matInput formControlName="idInterno">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>No. Empleado</mat-label>
                <input matInput formControlName="numEmpleado">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contratacion</mat-label>
                <mat-select formControlName="idTipoContratacion">
                    <mat-option *ngFor="let contratacion of contratos" [value]="contratacion.idTipoContratacion">
                        {{ contratacion.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Área</mat-label>
                <mat-select formControlName="idArea">
                    <mat-option *ngFor="let area of areas" [value]="area.idArea">
                        {{ area.clave }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Puesto</mat-label>
                <mat-select formControlName="idPuesto">
                    <mat-option *ngFor="let puesto of puestos" [value]="puesto.idPuesto">
                        {{ puesto.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cuadrante</mat-label>
                <mat-select formControlName="idCuadrante">
                    <mat-option *ngFor="let cuadrante of cuadrantes" [value]="cuadrante.idCuadrante">
                        {{ cuadrante.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Sueldo</mat-label>
                <input matInput formControlName="sueldo" type="number">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Fecha de Contratación</mat-label>
                <input matInput formControlName="fechaContratacion" type="date">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </mat-tab>

    <mat-tab label="Domicilio Trabajo">
        <form [formGroup]="workAddressForm" (ngSubmit)="saveWorkAddress()">
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="estado">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Municipio</mat-label>
                <input matInput formControlName="municipio">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Domicilio</mat-label>
                <textarea matInput formControlName="domicilio"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </mat-tab>
</mat-tab-group>

<div class="form-actions">
    <button mat-raised-button color="warn" (click)="closeDialog()">Cerrar</button>
</div>