mat-tab-group {
    margin-bottom: 16px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

button[mat-raised-button] {
    background-color: #621132;
    color: white;
}

button[mat-raised-button]:hover {
    background-color: #9d2449;
}

button[mat-button] {
    color: #621132;
}

button[mat-button]:hover {
    color: #9d2449;
}