.checkin-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    text-align: center;
    padding: 20px;
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 100%;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding se incluya dentro del ancho total */
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.message {
    margin-top: 10px;
    font-size: 1.2em;
    color: #4CAF50;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

@media (max-width: 600px) {
    .checkin-container {
    padding: 10px;
    }

    th, td {
    padding: 5px;
    }
}