<div class="calendar-container">
    <div class="calendar-grid">
        <!-- Imagen de la primera fila -->
        <div class="image-cell full-width">
            <img src="../../../assets/calendar/Titulo.png" alt="First Image">
        </div>
        <!-- Imágenes de los meses en filas 2 y 3 -->
        <div class="image-cell">
            <img src="../../../assets/calendar/agosto.png" alt="August 2024">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/septiembre.png" alt="September 2024">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/octubre.png" alt="October 2024">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/noviembre.png" alt="November 2024">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/diciembre.png" alt="December 2024">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/enero.png" alt="January 2025">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/febrero.png" alt="February 2025">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/marzo.png" alt="March 2025">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/abril.png" alt="April 2025">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/mayo.png" alt="May 2025">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/junio.png" alt="June 2025">
        </div>
        <div class="image-cell">
            <img src="../../../assets/calendar/julio.png" alt="July 2025">
        </div>
        <!-- Imagen de la última fila -->
        <div class="image-cell full-width">
            <img src="../../../assets/calendar/descripcion.jpg" alt="Last Image">
        </div>
    </div>
</div>