<div class="calendar-container">
    <div class="calendar-grid">
        <!-- Imagen de la primera fila -->
        <div class="image-cell full-width">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/Titulo.png" alt="First Image">
        </div>
        <!-- Imágenes de los meses en filas 2 y 3 -->
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/agosto.png" alt="August 2024">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/septiembre.png" alt="September 2024">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/octubre.png" alt="October 2024">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/noviembre.png" alt="November 2024">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/diciembre.png" alt="December 2024">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/enero.png" alt="January 2025">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/febrero.png" alt="February 2025">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/marzo.png" alt="March 2025">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/abril.png" alt="April 2025">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/mayo.png" alt="May 2025">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/junio.png" alt="June 2025">
        </div>
        <div class="image-cell">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/julio.png" alt="July 2025">
        </div>
        <!-- Imagen de la última fila -->
        <div class="image-cell full-width">
            <img src="http://auditoriainterna.com.mx/photo_upload/calendar/descripcion.jpg" alt="Last Image">
        </div>
    </div>
</div>