<h2>Dirección General de Recursos Humanos</h2>
<hr class="red">
<div class="container">
    <div class="alert alert-warning">
        <strong>¡Solo Personal Autorizado!</strong> ¡Bienvenido a nuestra plataforma integral! Accede con tus credenciales para registrar asistencias y explorar una amplia gama de cursos disponibles. Tu portal para el crecimiento y la gestión eficiente del personal.
      </div>
    <hr>
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="email-03">Usuario:</label>
          <div class="col-sm-9">
            <input class="form-control" id="email-03" placeholder="Nombre" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="password-03">Contraseña:</label>
          <div class="col-sm-9">
            <input class="form-control" id="password-03" placeholder="Contraseña" type="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary pull-right" type="button">Enviar</button>
          </div>
        </div>
      </form>
      <hr>
</div>