<div class="login-background">
  <div class="left-half">
    <div class="top-half-left">
      <mat-card class="login-card">
        <mat-card-header class="header">
          <mat-card-title>¡Solo Personal Autorizado!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            ¡Bienvenido a nuestra plataforma integral! Accede con tus credenciales para registrar asistencias y explorar
            una amplia gama de cursos disponibles. Tu portal para el crecimiento y la gestión eficiente del personal.
          </p>
          <form class="form-horizontal" role="form" [formGroup]="formLogin" (ngSubmit)="LogIn()">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Nombre" type="text" formControlName="idEmpleado">
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Contraseña" type="password" formControlName="Password">
            </mat-form-field>
            <div class="button-container">
              <button mat-raised-button color="primary" type="submit" [disabled]="formLogin.invalid">Iniciar Sesion</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <p class="bottom-center-text">Sistema Integral de Control de Personal</p>
  </div>
  <div class="right-half">
    <div class="top-half">
      <p class="centered-text">RECURSOS <br> HUMANOS</p>
    </div>
    <div class="bottom-half">
      <img src="assets/login.png" alt="Login Image" class="login-image">
    </div>
  </div>
</div>