<div class="login-background">
    <!-- Sección izquierda con la imagen de mantenimiento -->
    <div class="left-half">
        <img src="https://auditoriainterna.com.mx/notification_popup/mantto.jpg" alt="Sitio en Mantenimiento" class="mantto-image">
    </div>

    <!-- Sección derecha del diseño original -->
    <div class="right-half">
        <div class="top-half">
            <p class="centered-text">RECURSOS <br> HUMANOS</p>
        </div>
        <div class="bottom-half">
            <img src="https://auditoriainterna.com.mx/auditoriainterna/assets/login.png" alt="Login Image" class="login-image">
        </div>
    </div>
</div>
