<h1 mat-dialog-title>Editar Curso</h1>
<hr>
<div mat-dialog-content>
    <form [formGroup]="editForm">
        <mat-form-field appearance="outline">
            <mat-label>ID CURSO</mat-label>
            <input matInput formControlName="idCurso" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>TÍTULO</mat-label>
            <input matInput formControlName="titulo" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>SUBTÍTULO</mat-label>
            <input matInput formControlName="subtitulo" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>DESCRIPCIÓN</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>NOTA</mat-label>
            <input matInput formControlName="nota" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>LIGA DE YOUTUBE</mat-label>
            <input matInput formControlName="liga" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>RUTA IMAGEN</mat-label>
            <input matInput formControlName="rutaImagen" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>PUESTO</mat-label>
            <mat-select formControlName="idpuesto">
                <mat-option *ngFor="let puesto of puestos" [value]="puesto.idPuesto">{{ puesto.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" [disabled]="!editForm.valid" (click)="onSave()">Guardar</button>
</div>