<div class="admin-notification-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Administrar Notificaciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="createNotification()">
        <mat-form-field appearance="outline">
          <mat-label>Asunto</mat-label>
          <input matInput [(ngModel)]="newNotification.subject" name="subject" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cuerpo</mat-label>
          <textarea matInput [(ngModel)]="newNotification.body" name="description" required></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Crear Notificación</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Notificaciones Existentes</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let notification of notifications">
          <div class="notification-content">
            <div>
              <p class="subject">{{ notification.subject }}</p>
              <p class="body">{{ notification.body }}</p>
            </div>
            <div class="actions">
              <button mat-icon-button color="warn" (click)="deleteNotification(notification.id)" class="delete-button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
