@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;

}
